*.log
*.pid
*.seed

*.db

._*
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.AppleDB
.AppleDesktop
.apdisk

.grunt
.tmp/
.lock-wscript
node_modules
npm-debug.log